.instructions-page {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;    

    h1 {
        margin: 0 20px;
    }

    div.instructions {
        overflow: auto;
        background-color: darkgreen;
        flex: 1;        
        margin: 60px;        
        margin-top: 10px;        
        opacity: 0.8;
        padding: 10px;
        .card-and-name-list {
            margin: 10px 0;                        
            
            > div {
                display: inline-block;
                margin-right: 10px;
                div:last-child{
                    text-align: center;
                }
            }
        }
    }


    .bottom-button {
        position: absolute;
        width: fit-content;
        color: white;
        border: 1px solid white;
        padding: 10px;
        left: 50%;
        transform: translate(-50%);
        bottom: 10px;      
        cursor: pointer;  
    }
}