.highscores-page {
    display: flex;    
    flex-direction: column;    
    box-sizing: border-box;
    align-items: stretch;
    height: 100%;
    

    .highscores-container {
        flex: 1;
        overflow: auto;
    }


    .bottom-button {
        width: fit-content;
        align-self: center;
        color: white;
        border: 1px solid white;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 10px;          
    }

    .highscore {     
        text-align: center;;   
        padding-bottom: 10px;
        padding-right: 10px;
        > div:first-child { 
            font-size: 24px;
            padding: 10px;
            span:first-child {
                color: lightgray;
            }
            span:last-child {
                color: white;
            }
        }
        > div:last-child {
            color: lightgray;
            font-style: italic;
            padding-left: 34px;
        }
        &.highlighted {
            border: 1px solid white;
        }
    }
}
