.cards-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 10px;
    > * {
        margin: 10px;
        animation: slide-right 100ms ease-in;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}
