.keyboard-shortcuts {
    .title {
        text-align: center;
        text-decoration: underline;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .keys {
        strong {
            font-size: 15px;
        }
        margin-bottom: 2px;
    }
}