.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;    
    .modal {
        position: relative;
        margin: auto;
        border: 1px solid white;
        padding: 30px;
        background-color: rgba(darkgreen, 0.9);
        max-width: 80%;
        max-height: 80%;
    
        .close-button {
            position: absolute;
            top: 5px;
            right:10px;
            font-size: 30px;
            cursor: pointer;
        }    
    }
}

