button.playing-card-button {
    width: 100px;
    height:100px;
    padding: 5px;   
    border: 2px solid white;    
    outline: none;     
    cursor: pointer;

    &:hover {
        background-color: gray;
    }

    &.selected {
        background-color: white;
        &:hover {
            background-color: lightgray;
        }
    }
    

    div.playing-card-image {
        height: -webkit-fill-available;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}