.memorization-complete-modal {
    &.modal {
        background: white;
        min-width: 600px;
        color: black;
    }
    .footer {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        button {
            margin: 10px;
        }
    }
    button {
        border: 0;
        padding: 5px 20px;
        width: 100px;
        outline: none;
        cursor: pointer;      
        color: white;
        background-color: darkgreen;    
    }
}