.recall-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    .cards-recalled-container {
        flex: 1;
        overflow: auto;        
    }
    .controls {        
        flex-basis: 400px;        
        display: flex;
        flex-direction: row;
        > div {
            flex: 1;            
        }
        .suits-container {
            display: flex;
            >div {
                width: 280px;
                margin-top: auto;
                margin-bottom: auto;
            }
            .playing-card-button {
                margin: 15px;
            }
        }

        .faces-container {                                       
            text-align: right;
            min-width: 360px;
            > div {
                display: inline-block;
                text-align: center;
            }
            .playing-card-button {
                width: 70px;
                height:70px;
                margin: 10px;
            }
        }
    }

    .playing-card-button {
        background: #20be3c;
        &:hover {
            background: lighten($color: #20be3c, $amount: 20)
        }

        &.selected {
            background: white;;
        }
    }

    .hint-button {
        position: fixed;
        left: 5px;
        bottom: 5px;
        display: inline-block;
        border: 1px solid white;
        padding: 10px 100px;
        margin: 10px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
    }
}