.home {
    position:relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div, > a {
        border: 1px solid white;
        margin: 10px;
        padding: 10px;
        font-size: 24px;    
        min-width: 400px;    
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }
}

@keyframes roam-horizontal {
    from {
        left: 0;    
    }
    to {
       left: calc(100% - 100px);       
    }
}

@keyframes roam-vertical {
    from {
        top: 0;        
    }
    to {
       top: calc(100% - 145px);       
    }
}


.random-card-container {
    position: absolute;    
    animation: roam-horizontal 7.71s linear, roam-vertical 6.51s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}