.suit-selector-modal {
    position: relative;
    z-index: 2;
    text-align: center;
    button {
        border: 1px solid white;
        margin: 0;
        padding: 10px;
        background: transparent;
        outline: none;
        cursor: pointer;
        color: white;
        font-size: 18px;    
        font-weight: bold;
    }

    .suits-container {
        .playing-card-button {
            margin: 2px;
        }

        &+button {
            margin-top: 30px;
            padding: 10px 20px;
            &:hover{
                background: white;
                color: green;
            }

            &:disabled {
                opacity: 0.5;
            }
        }
    }
}